// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {
  $block-name: &; // #{$block-name}__element
  position: relative;

  @include wrapper;

  &__prev,
  &__next {

  }

  &__prev {
    transform: rotate(180deg);
  }

  &__next {

  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    margin: 0;

    list-style: none;

    li {
      margin: 0 4px;
      padding: 0;
    }

    button {
      display: block;
      padding: 0;

      width: 12px;
      height: 12px;

      font-size: 0;

      cursor: pointer;

      border: 1px solid #000;
      border-radius: 50px;
      background: transparent;
    }

    .slick-active button {
      background: #000;
    }
  }
}
