// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button {
  $block-name: &; // #{$block-name}__element

  display: inline-block;

  margin: 0;
  padding: 5px 18px;

  font-family: inherit;
  font-size: 1em;
  line-height: 1;

  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;

  color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  background-color: #000;
  background-image: none;


  &:hover {
    border-color: lighten(#000, 10%);
    background-color: lighten(#000, 10%);
  }

  &:active {
    color: #fff;
    border-color: darken(#000, 10%);
    background-color: darken(#000, 10%);
  }

  &:visited {
    color: #fff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 1px 3px #000;
  }
}
