// В этом файле должны быть стили для БЭМ-блока breadcrumb, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumb {
  $block-name: &; // #{$block-name}__element

  &__item {
    color: #000000;
    font-size: 1em;

    a {
      font-size: inherit;
      color: #000000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    color: #000000;
    margin: 0 8px;
  }
}

