// В этом файле должны быть стили для БЭМ-блока field-textarea, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-textarea {
  $block-name: &; // #{$block-name}__element

  width: 100%;
  height: 32px;
  min-height: 88px;
  padding: 10px;

  resize: vertical;

  border: 1px solid #000;
  border-radius: 0;
  background-color: #fff;

  &::placeholder {
    color: gray;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $white, 0 0 1px 3px #000;
  }
}

.field-textarea.error_input {
  border-color: red;
  background-color: lighten(red, 32%);
}
