// В этом файле должны быть стили для БЭМ-блока checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkbox {
  $block-name: &; // #{$block-name}__element

  height: 16px;

  &__input {
    @include visually-hidden;
  }

  &__label {
    position: relative;

    display: block;

    height: inherit;
    padding-left: 25px;

    cursor: pointer;
    vertical-align: top;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;

      content: '';

      border: 1px solid $gray--60;
      background-color: $white;

      @if ($border-radius > 0) {
        border-radius: $border-radius;
      }
    }
  }

  &__input:checked + &__label::before {
    border-color: $color--1;
  }

  &__input:checked + &__label::after {
    position: absolute;
    top: 2px;
    left: 2px;

    content: '';

    @include sprite($checkmark);
  }

  &__input:focus + &__label::before {
    outline: none;
    box-shadow: 0 0 0 1px $white, 0 0 1px 3px $color--2;
  }

  &--nolabel {

    #{$block-name}__label {
      padding-left: 16px;
    }

    #{$block-name}__label::before {
      margin-right: 0;
    }
  }
}
