// В этом файле должны быть стили для БЭМ-блока radio-button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.radio-button {
  $block-name: &; // #{$block-name}__element

  min-height: 16px;

  &__input {
    @include visually-hidden;
  }

  &__label {
    position: relative;

    display: block;
    height: inherit;

    padding-left: 25px;

    vertical-align: top;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;
      margin-right: 10px;

      content: '';

      border: 1px solid #000;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__input:checked + &__label::before {
    border-color: #000;
  }

  &__input:checked + &__label::after {
    position: absolute;
    top: 4px;
    left: 4px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;
    background-color: #000;
  }

  &__input:focus + &__label::before {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 1px 3px grey;
  }

  &--nolabel {

    #{$block-name}__label {
      padding-left: 16px;
    }

    #{$block-name}__label::before {
      margin-right: 0;
    }
  }
}
