// В этом файле должны быть стили для БЭМ-блока link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.link {
  text-decoration: none;

  color: grey;

  $block-name: &; // #{$block-name}__element

  &:hover {
    text-decoration: underline;
  }
}
