// В этом файле должны быть стили для БЭМ-блока wysiwyg, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.text {

  $block-name:                &; // #{$block-name}__element

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  h5 {
  }

  h6 {
  }

  p {
  }

  p + p {
  }

  ul {
    list-style-type: disc;
  }

  ol {
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
  }

  tr {

    &:first-child {

      td,
      th {
      }
    }
  }

  hr {
    display: block;

    height: 1px;
    padding: 0;

    border: 0;
    background: #000;
  }
}
