// В этом файле должны быть стили для БЭМ-блока field-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-block {
  display: flex;
  align-items: center;

  $block-name: &; // #{$block-name}__element

  &--textarea {
    align-items: flex-start;
  }

  &__label {
    flex-basis: 205px;
  }

  &__label + &__input,
  &__label + &__select {
    margin-left: 16px;
  }
}
