// В этом файле должны быть стили для БЭМ-блока field-input, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-input {
  width: 100%;
  height: 32px;
  padding: 10px;

  border: 1px solid $gray--80;
  background-color: $white;

  $block-name: &; // #{$block-name}__element
  @if ($border-radius > 0) {
    border-radius: $border-radius;
  }

  &::placeholder {
    color: $gray--50;
  }
}

.field-input.error_input {
  background-color: lighten($color--3, 32%);
  border-color: $color--3;
}
