form {
  width: 100%;
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text],
textarea {
  width: 100%;
  height: 32px;
  padding: 10px;

  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  background-color: $white;
}

textarea {
  min-height: 88px;

  resize: vertical;

  background-color: $white;
}

input::placeholder,
textarea::placeholder {
  color: $gray;
}

label {
  cursor: pointer;

  color: $gray-darker;
}

.field__input.error_input {
  background-color: lighten($color-tertiary, 32%);
  border-color: $color-tertiary;
}
