//@font-face {
// font-family: 'FONTNAME';
// src: url('../fonts/FONTNAME.woff2') format('woff2'),
//      url('../fonts/FONTNAME.woff') format('woff'),
//      url('../fonts/FONTNAME.ttf')  format('truetype');
// font-weight: 400;
// font-style: normal;
//}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  color: $gray-darker;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--title;
  font-weight: normal;
  line-height: 1.2;

  text-transform: none;

  color: $gray-darkest;
}

h1 {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h1;
}

h2 {
  margin-top: ($line-height);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h2;
}

h3 {
  margin-top: ($line-height);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h3;
}

h4 {
  margin-top: ($line-height / 1.5);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h4;
}

h5 {
  margin-top: ($line-height / 1.5);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h5;
}

h6 {
  margin-top: ($line-height / 1.5);
  margin-bottom: ($line-height / 2);

  font-size: $font-size--h6;
}


p {
  margin: 0;
  padding: 0;

  font-size: 1em;
  line-height: 1.7;
}

p + p {
  margin-top: ($line-height / 2);
}

ul {
  margin-top: $line-height;
  margin-bottom: $line-height;
  margin-left: 28px;
  padding: 0;

  font-size: 1em;
  line-height: $line-height;

  list-style-type: disc;
}

ol {
  margin-top: $line-height;
  margin-bottom: $line-height;
  margin-left: 28px;
  padding: 0;

  font-size: 1em;
  line-height: $line-height;
}

li {
  padding-left: 4px;
}

li + li {
  margin-top: ($line-height / 2);
}

a {
  color: $color-secondary;
  //text-decoration-skip: ink;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: lighten($color-secondary, 15%);
  }

  &:active {
    color: $color-tertiary;
  }
}

table {
  width: 100%;
  margin-top: ($line-height * 1.5);
  margin-bottom: ($line-height * 1.5);

  border-collapse: collapse;
}

td,
th {
  padding: 13px;

  font-weight: normal;

  text-align: left;

  border: 1px solid $gray-lighter;
}

tr {
  &:first-child {
    td,
    th {
      text-align: center;

      color: $gray-darkest;
      border: 1px solid $gray-lightest;
      background-color: $gray-lightest;
    }
  }
}

hr {
  display: block;

  height: 1px;
  margin-top: ($line-height * 2);
  margin-bottom: ($line-height * 2);
  padding: 0;

  border: 0;
  background: $gray-lighter;
}

blockquote {
  margin-top: ($line-height * 2);
  margin-bottom: ($line-height * 2);
  padding: 4px 0 4px 19px;

  font-style: italic;
  line-height: 1.7;

  border-left: 5px solid $color-primary;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
