// Базовые цвета

$black:                      hsl(0, 0%, 0%);
$gray--10:                    hsl(0, 0%, 10%);
$gray--20:                    hsl(0, 0%, 20%);
$gray--30:                    hsl(0, 0%, 30%);
$gray--40:                    hsl(0, 0%, 40%);
$gray--50:                    hsl(0, 0%, 50%);
$gray--60:                    hsl(0, 0%, 60%);
$gray--70:                    hsl(0, 0%, 70%);
$gray--80:                    hsl(0, 0%, 80%);
$gray--90:                    hsl(0, 0%, 90%);
$white:                      hsl(0, 0%, 100%);

$color--1:                    #0273d9;
$color--2:                    #ffc200;
$color--3:                    #ff4f00;


// Шрифты

$font-family:                Arial, Helvetica, sans-serif;
$font-family--2:             Verdana, Tahoma, sans-serif;
$font-family--title:         Arial, Helvetica, sans-serif;


// Размер шрифтов

$font-size--root:            16px;
$font-size:                  1rem;
$font-size--h1:              rem(40px);
$font-size--h2:              rem(32px);
$font-size--h3:              rem(24px);
$font-size--h4:              rem(18px);
$font-size--h5:              rem(16px);
$font-size--h6:              rem(16px);
$font-size--small:           rem(12px);

$line-height:                1.375;


// Разное

$border-radius:               0;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);
