// В этом файле должны быть стили для БЭМ-блока select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.select {
  display: block;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 8px 32px 8px 8px;

  color: #000;
  border: 1px solid #000;
  border-radius: 0;
  background-color: #fff;
  background-image: url('data:image/svg+xml,%3Csvg width=\'16\' height=\'16\' viewBox=\'0 0 16 16\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M2 5L7.99997 11L14 5\' stroke=\'%23999999\' stroke-width=\'2\'/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%, 0 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: grey;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 1px 3px gray;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
  }

  & option {
    font-weight: 400;
  }
}
