// В этом файле должны быть стили для БЭМ-блока to-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.to-top {
  $block-name: &; // #{$block-name}__element

  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  font: 0/0 a;

  color: transparent;
  border-radius: 50%;
  background-color: #000;

  .js & {
    display: none;
  }
}
